.verticalLine {
  border-left: thick solid #000000;
}

h1 {
  margin-top: -12px;
}


.alert{
   
   color:#d82d47;
}

.alert2{
   
   color:#1f9773;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.content-box { 
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}


.content-box-teal,
.content-box-pink,
.content-box-gray {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.content-box-teal2,
.content-box-pink2 {
    overflow: hidden;
    width: 100%;
}

.content-box-teal,
.content-box-teal2 {
    /* set opacity in last decimal value of rgba */
    background-color: #C0F3E4;
    
}

.content-box-pink,
.content-box-pink2 {
    /* set opacity in last decimal value of rgba */
    background-color: #f3c0c7;
    
}

.content-box-gray {
    /* set opacity in last decimal value of rgba */
    background-color: #C8C8C8;/*rgb(102, 102, 102);*/
    /*background-color: rgba(102, 102, 102,.85);*/
}